include MANIFEST.in

# version files
include versioneer.py
include skmisc/_version.py

# Top-level build scripts
include setup.py setup.cfg
include requirements_dev.txt

# All source files
recursive-include skmisc *

# All documentation
recursive-include doc *

# Build and test tools
include tox.ini
include pytest.ini
include tools/cythonize.py

# Cached Cython signatures
include cythonize.dat

# Exclude what we don't want to include
prune doc/_build
prune doc/generated
prune */__pycache__
global-exclude *.pyc *~ *.bak *.swp *.pyo
